<!DOCTYPE html>
<html>
<head>
    <title> Страница </title>
    <style>
    p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        color: brown
    }
    .img{
        height: 200px;
        width: 400px;
    }
    img{
        height: 100%;
        width: 100%;
    }
    .description{
        color:blue
    }
    .x{
        color:red
    }
    .container{
        display:flex;
        justify-content:center;
        flex-direction:column;
        align-items:center;
    }
    </style>
</head>
<body>
    <div class="container">
        <div>
            <h1>Кошки </h1>
        </div>
        <div>
            <p class="description">Ко́шка (лат. Felis catus) — домашнее животное, одно из наиболее популярных[1]</p>
            <p> домашняя кошка — млекопитающее семейства кошачьих отряда хищных.</p>
            <x> В настоящее время в мире насчитывается около 600 млн домашних кошек[9], выведено около 200 пород </x>
        </div>
        <div>
        <div class="img">
            <img src="https://image.winudf.com/v2/image/Y29tLmNvbXBhbnlpbmMudGhpc2lzYW5hcHBfc2NyZWVuc2hvdHNfMV9lMDUwZmQ3ZQ/screen-1.jpg?fakeurl=1&type=.jpg"/>
            <img src="https://cdn.culture.ru/images/69b64b45-dc21-5230-951c-9722db631cd0"/>
            <img src="https://static.wikia.nocookie.net/0c3e7a2f-4f64-4182-9822-1f1d6c9ff1d2/scale-to-width/755">
        </div>
        <div class="actions">
            <button onClick="location.href='https://ru.wikipedia.org/wiki/Кошка'">подробнее</button>
            <a href ="https://ru.wikipedia.org/wiki/Кошка">все о кошках </a>
        </div>

</body>

</html>